.contain {
  width: 60%;
  margin: 60px auto;
  padding: 40px 60px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.contain h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px;
}

.btn {
  width: 100%;
  font-size: 24px;
  margin-top: 10px;
  padding: 0.8rem;
  font-family: "Poppins", sans-serif;
}

/* Responsive Screen */
@media screen and ( max-width: 1400px) {
  .contain{
    padding: 30px 50px;
  }
  .contain h2{
    font-size: 32px;
  }
  .btn {
    font-size: 20px;
    margin-top: 0px;
  }
}

@media screen and ( max-width: 992px) {
  .contain{
    width: 70%;
    padding: 20px 40px;
    margin: 150px auto;
  }
  .contain h2{
    font-size: 28px;
  }
  .btn {
    font-size: 14px;
    margin-top: 0px;
    padding: 0.6rem;
  }
}

@media screen and ( max-width: 576px) {
  .contain{
    width: 80%;
    padding: 20px 40px;
    margin: 150px auto;
  }
  .contain h2{
    font-size: 24px;
  }
  .btn {
    font-size: 14px;
    margin-top: 0px;
    padding: 0.5rem;
  }
}

